html, body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.fiddle-container {
  padding: 15px;
}

.title {
  font-size: 1.5em;
  font-family: consolas, Verdana, sans-serif;
}
